@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

body {
  background-color: #fff;
  font-family: 'Barlow', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 28px;
  color: #000;
  font-feature-settings: 'zero' on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Tiny Mono';
  src: url(fonts/TinyMono-Regular.eot);
  src: url(fonts/TinyMono-Regular.eot?#iefix) format('embedded-opentype'),
      url(fonts/TinyMono-Regular.woff2) format('woff2'),
      url(fonts/TinyMono-Regular.woff) format('woff'),
      url(fonts/TinyMono-Regular.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

::selection {
  color: black;
  background: rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: 'Tiny Mono', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: -6px;
  max-width: 960px;
  text-transform: uppercase;
}

h2 {
  font-family: 'Tiny Mono', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: -4px;
  font-feature-settings: 'zero' on;
  margin: 0;
}

h3 {
  font-weight: 600;
  font-size: 27px;
  line-height: 31px;
  letter-spacing: -1px;
  margin: 0;
}

h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin: 0 ;
}

a {
  text-decoration: none;
  color: #000;
}

.side {
  width: 96px;
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  height: 100%;
  position: fixed;
  z-index: 4;
}

.icon {
  width: 64px;
  height: 64px;
  background: url(./img/tinyman.svg);
  margin-top: 16px;
  margin-left: 16px;
  position: relative;
  z-index: 6;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}


.sliding-text {
  width: calc(100vh - 110px);
  overflow: hidden;
  white-space: nowrap;
  transform: rotate( -90deg );
  position: fixed;
  transform-origin: bottom left;
  margin-left: 64px;
  bottom: 0;
  cursor: pointer;
}
  
.sliding-text  ul {
    display: inline-block;
    white-space: nowrap;
  }
  
  .sliding-text  li {
    display: inline-block;
    padding-left: 4em;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }

  .sliding-text  li::before {
    content: '⁄⁄⁄⁄⁄⁄⁄⁄⁄';
    position: absolute;
    letter-spacing: 2px;
    left: 2em;
    transform: translateX(-50%);
  }

.intro_bg {
  background: linear-gradient(180deg, #10CD7E 0%, #A1E569 22.92%, #F2FE67 45.83%, #FFFFFF 100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 1280px;
  z-index: -999;
  width: 100%;
}

.cta_bg {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFDBFE 50%, #FFFFFF 100%);
  opacity: 0.5;
  position: absolute;
  left: 0;
  height: 1200px;
  z-index: -999;
  width: 100%;
  margin-top: -60px;
}

.intro {
  margin-top: 148px;
}

.intro h1 {
  margin: 8px 0 20px 0;
}

.intro p {
  max-width: 768px;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 35px;
} 

#main {
  width: calc(100% - 216px);
  margin-left: 156px;
}

.logo {
  position: absolute;
  top:36px;
  left: 132px;
  display: flex;

}

.logo img {
 margin-right: 16px; 
 border-right: 1px solid rgba(0, 0, 0, 0.3);
 padding-right: 16px; 
}

.logo p {
margin: 0;
}


.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.section, .section-s, .intro {
  z-index: 3;
  position: relative;
}

.section {
  border-bottom: 1px solid #000;
  margin-top: 40px;
  padding-bottom: 40px;
}

.helper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  border: none !important;
  margin: 0 0 16px 0 !important;
}

.helper_box {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 20px 24px 8px 24px;
  display: grid;
  align-content: space-between;
  min-height: 160px;
  transition: .5s all;
  position: relative;
}

.helper_box:hover {
  box-shadow: 0px 16px 20px -4px rgba(0, 0, 0, 0.1);
}


.helper_box:nth-child(1):hover {
  transform: translateY(-10px) rotate(1deg); 
}

.helper_box:nth-child(2):hover {
  transform: translateY(-10px) rotate(-2deg); 
}

.helper_box:nth-child(3):hover {
  transform: translateY(-10px) rotate(2deg); 
}


.link-s {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5em;
  padding-bottom: 4px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.link-s div {
  width: auto !important;
  display: block;
  transition: all ease .5s;
}

.link-s:hover div {
  transform: translate(0, -1.5em);
  transition: all ease .5s;
}

.link-s div:before {
  content: attr(data-hover-animation);
  position: absolute;
  transform: translate(0, 1.5em);
}



.section-s {
  padding: 48px 0;
}

.last {
  border-bottom: none;
  padding: 0 0 88px 0;
}

.section:first-child {
  margin-top: 80px;
  padding-top: 40px;
  border-top: 1px solid #000;
}

.section img{
  float: left;
  width: 64px;
  margin-right: 16px;
}

.outlink {
  position: relative;
  overflow: hidden;
  display: block;
}

.outlink h2 {
  display: block;
  transition: transform ease .5s;
}

.outlink:hover h2 {
  transform: translate(0, -1.5em);
  transition: transform ease .5s;
}

.outlink h2:before {
  content: attr(data-hover-animation);
  position: absolute;
  transform: translate(0, 1.5em);
}




.swapping {
  border-top: 1px solid #000 !important;
  margin: 80px 0 64px 0 !important;
  padding-top: 40px;
}

.swapping img{
  width: auto;
  height: auto;
}

.swapping h2 {
  font-family: 'Tiny Mono', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: -4px;
  font-feature-settings: 'zero' on;
}

.pools {
    position: relative;
    display: block;
    width: calc(100vw - 160px);
    max-width: 1280px;
    left: 50%!important;
    transform: translateX(-50%);
    margin-top: 80px;
    margin-bottom: 60px;
}

.roadmap_progress {
  width: calc( 100% + 64px );
  height: 32px;
  background: url(./img/progress.svg) repeat-x;
  margin: 40px 0 40px -32px;
  animation: progressBar 800ms infinite linear;
  position: relative;
}

.roadmap_progress::before {
  content: '';
  left: 0;
  position: absolute;
  height: 32px;
  width: 240px;
  background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.roadmap_progress::after {
  content: '';
  right: 0;
  position: absolute;
  height: 32px;
  width: 240px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}

@keyframes progressBar {
  0% { background-position-x: 0; }
  100% { background-position-x: 14px; }
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  grid-column-gap: 24px;
}

.list li {
  list-style: none;
}

.list li h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
} 

.list li p {
  margin-top: 8px;
} 


.questions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  grid-column-gap: 48px;
  grid-row-gap: 48px;
}

.questions li {
  list-style: none;
}

.questions h4:before {
  content: '⁄⁄⁄⁄⁄';
  letter-spacing: 2px;
  margin-right: 8px;
  margin-left: 6px;
}

.side.faq {
  background: #F2FE67 url(img/faq_side.svg) no-repeat;
  background-position: center bottom;
  border: none;
}

.faq {
  background: #FFF;
}

.faq .section {
  border: none;
  margin: 128px 0 40px 0;
}

.back {
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 1px;
  margin-top: 24px;
  display: block;
  position: fixed;
  top: 0;
  z-index: 10;
  left: 128px;
  padding: 17px 16px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.79);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.faq footer { 
  border-top: 1px solid #000;
  padding-top: 40px;
  margin-top: 128px;
  margin-bottom: 80px;
}

footer { 
  margin-bottom: 80px;
}

.newversion h3 {
  margin-bottom: 32px;
}

.newversion .content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 48px;
}

.newversion .announcement { 
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 72px;
  max-width: 640px;
}

.newversion .migration p {
  margin-top: 0;
}

.newversion .link-s {
  margin-top: 16px;
}


i.arrow {
  background: url(./img/arrow.svg);
  width: 16px;
  height: 16px;
  margin-left: 6px;
  display: inline-block;
} 

.mainnet_button {
  position: fixed;
  top: -48px;
  right: 24px;
  z-index: 5;
  display: flex;
  align-items: center;
  transition: all 1s;
  opacity: 0;
  transform-origin: right;
}

.mainnet_button:before {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  right: 0;
  background: #000;
  opacity: .05;
  border-radius: 50%;
  animation: cta 5s infinite;
  transition: transform 600ms;
  z-index: -1;
}

.mainnet_button:hover {
  transform: scale(1.1);
}

.mainnet_button .text {
  overflow: hidden;
  margin-right: -24px;
}

.mainnet_button svg > #icon {
  fill: #000;
  transition: fill .5s;
  transition-delay: 1s;
}

.mainnet_button svg > #background {
  fill: rgba(0, 0, 0, 0.1);
  transition: fill .5s;
  transition-delay: 1s;
}

.mainnet_button span {
  background: #000;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  padding: 10px 24px;
  border-radius: 48px 0 0 48px;
  display: block;
  transition: all 1s;
  transition-delay: .4s;
  margin-right: -200px;
}

.mainnet_button span::selection {
  color: #fff;
}

.sticky {
  right: 24px;
  top: 24px;
  opacity: 1;
}

.mainnet_button:hover .text span {
  margin-right: 0;
}

.mainnet_button:hover:before {
  animation-play-state: paused;
}

.mainnet_button:hover svg > #icon {
  fill: #fff;
  transition-delay: .2s;
}

.mainnet_button:hover svg > #background {
  fill: #000;
  transition-delay: .2s;
}


@keyframes cta {
  0% {transform:scale(3);}
  50% {transform:scale(1.5);}
  100% {transform:scale(3);}
}





.mainnet {
  margin-top: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 48px;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 40px;
}

.mainnet h1 {
  margin-bottom: 18px;
}


.mainnet a  {
  display: block;
  align-content: space-between;
  position: relative;
  transition: .2s all ease;
  z-index: 999;
  padding-top: 24px;
  padding-left: 32px;
  padding-bottom: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  transition: background-position .5s ease, box-shadow .5s ease, border .5s ease;
  box-shadow: 0 1px 0px rgb(0 0 0 / 0%);
  background: radial-gradient(100% 100% at 0% 100%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: no-repeat;
  background-position: right 400px top 400px;
}

.mainnet a:hover {
  background-position: 0 0;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.mainnet a span {
  z-index: 3;
  position: relative;
}

.mainnet a p {
  margin: 0;
  font-size: 17px;
}

.mainnet a svg {
  float: right;
}

.mainnet a div {
  float: left;
}

.mainnet a svg > #icon {
  fill: black;
  transition: fill .5s;
}

.mainnet a svg > #background {
  fill: rgba(0, 0, 0, 0.1);
  transition: fill .5s;
}

.mainnet a:hover svg > #icon {
  fill: #65DB73;
  transition: fill .5s;
}

.mainnet a:hover svg > #background {
  fill: black;
  transition: fill .5s;
}


.intro video {
  margin: 0 auto;
  display: block;
  margin-top: -120px;
  z-index: 3;
  position: relative;
  width: 100%;
  max-width: 880px;
}


.section-links {
  padding: 108px 0 72px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-links p {
  font-size: 18px;
  line-height: 30px;
  max-width: 460px;
}

.link_heading {
  height: 140px;
  width: 90%;
}

.helper-link:first-child {
  margin-top: 64px;
  padding-top: 18px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.helper-link {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 18px;
  padding-bottom: 18px;
}

.helper-link h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}

.helper-link h5:after {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  background: url(./img/outlink.svg) no-repeat;
  background-position-x: -16px;
  background-position-y: 16px;
  margin-left: 8px;
  padding-top: 2px;
  margin-bottom: -3px;
  transition: all .2s ease;
  opacity: 0;
}

.helper-link:hover h5:after {
  background-position-x: 0px;
  background-position-y: 0px;
  opacity: 1;
}

.disclaimer {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

.copyright {
  margin-top: 72px;
}

.mainnet_cta {
  background: #fff url(./img/racetrack.png) no-repeat;
  background-size: contain;
  background-position-x: -200px;
  background-position-y: center;
  color: #000;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-radius: 16px;
  padding: 0 64px;
  box-shadow: 0px 44px 130px -30px rgba(0, 0, 0, 0.09);
}

.mainnet_cta div {
  width: 50%;
}
.mainnet_cta p {
  max-width: 420px;
}



.testnet_cta {
  background: url(./img/testnet.svg) no-repeat;
  background-position-x: -128px;
  background-position-y: 0px;
  color: #000;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-radius: 16px;
  padding: 0 64px;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}

.testnet_cta:before {
  content: '';
  background: radial-gradient(117.37% 117.37% at 50% 21.82%, rgba(255, 219, 254, 0.74) 0%, rgba(255, 219, 254, 0) 100%);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
}

.testnet_cta div {
  width: 50%;
}

.testnet_cta p {
  max-width: 420px;
}

.mainnet_cta h2, .testnet_cta h2 {
  text-transform: uppercase;
}

.mainnet_cta a.link-s, .testnet_cta a.link-s {
  margin-top: 24px;
}


.announcement {
  margin-top: 56px;
}

.announcement .sliding-text {
  width: calc(100vh - 166px);
}

.announcement .sticky {
  top: 80px;
}

.announcement .announcement_bar {
  display: block;
}

.announcement_bar {
  overflow: hidden;
  background-color: #000;
  height: 56px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  display: none;
}

.announcement_bar p {
  text-align: center;
  margin: 0;
  line-height: 56px;
  color: #2BEA9A;
}

.announcement_bar a {
  color: #2BEA9A;
} 

.announcement_bar a::selection{
  color: #10CD7E;
  background: rgba(16, 205, 126, 0.2);
}

a.announcement_button {
  position: absolute;
  right: 0;
  padding: 20px;
  display: flex;
  cursor: pointer;
  background: #000
}


.announcement_bar > #main {
  padding: 0 !important;
}




@media (max-width: 1283px) { 

  .mainnet a {
    display: grid;
    align-content: space-between;
    padding-top: 0;
  }

  .mainnet a svg {
    float: none;
    grid-row: 1;
  }

  .mainnet a div {
    float: none;
  }

  h1 {
    font-weight: normal;
    font-size: 7.5vw;
    line-height: 120%;
    letter-spacing: -4px;
  }

 }

 @media (max-width: 1280px) { 

  @keyframes mainnet {
    0% {transform:scale(1);}
    50% {transform:scale(1.5);}
    100% {transform:scale(1);}
  }
  
 }

@media (max-width: 1200px) { 
  h2, .swapping h2, .community .section h2 {
    font-weight: normal;
    font-size: 4.5vw;
    line-height: 100%;
    letter-spacing: -.5vw;
    overflow:inherit;
  }
  .outlink {
    overflow: inherit;
  }
  .section img, #fire {
    width: 6vw;
    height: 6vw;
  }
  .outlink {
    height: auto !important;
  }

  .outlink:hover h2 {
    transform: translate(0, 0);
  }

  .outlink h2:before {
    content: '';
  }

  .section-s {
    display: block;
  }

  .section-s h3 {
    margin-bottom: 48px;
  }

  .mainnet_cta {
    height: auto;
    padding-top: 80px;
    padding-bottom: 200px;
    background-position-x: 130%;
    background-position-y: bottom;
    background-size: 80%;
  }

  .testnet_cta {
    height: auto;
    padding: 80px 64px;
    background: none;
  }

  .mainnet_cta div, .testnet_cta div {
    width: 100%;
  }
  .mainnet_cta p, .testnet_cta p {
    max-width: 540px;
  }
  .link_heading {
    height: 180px;
  }


 }

 @media (max-width: 960px) { 

  .helper {
    grid-template-columns: 1fr;
    grid-row-gap: 24px;
  }

  .helper_box {
    min-height: auto;
  }

  .newversion .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 48px;
    margin-bottom: 72px;
  }

  .list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 24px;
  }

  .intro video {
    margin-top: -96px;
    }

    .mainnet {
      grid-template-columns: 3fr 2fr;
      grid-column-gap: 24px;
    }


 }



 @media (max-width: 765px) { 
  h1 {
    font-weight: normal;
    font-size: 8.8vw;
    line-height: 120%;
    letter-spacing: -.75vw;
  }

  #main {    
      margin: 0;
      padding: 24px;
      width: calc(100% - 48px);
    }
  
    .side {
      width: 100%;
      background-color: #10CD7E;
      border-right: none;
      height: 96px;
    } 

    .icon {
      width: 54px;
      height: 54px;
      background-size: 100%;
      margin-top: 20px;
    }

    .sliding-text {
      width: calc(200vh - 110px);
      overflow: hidden;
      white-space: nowrap;
      transform: rotate(0deg) translate(0);
      margin-left: 80px;
      top:32px;
      bottom: auto;
    }

    .logo {
      display: none;
    } 

    .list {
      grid-template-columns: 1fr;
    }

    .list li h3 {
      margin: 30px 0 0 0;
    }

    .questions {
      grid-template-columns: 1fr;
    }

    .side.faq {
      background-position: right -10px;
    }

    .back {
      z-index: 6;
      background: none;
      border: 2px solid #000;
      left: 96px;
    }

    h2, .swapping h2, .community .section h2 {
      font-size: 6vw;
    }

    .mainnet_cta {
      height: auto;
      padding-top: 64px;
      padding-left: 48px;
      padding-right: 48px;
      background-position-x: center;
    }
  
    .testnet_cta {
      padding: 64px 48px;
    }
        

    .link_heading {
      height: 280px;
    }

    .announcement .sliding-text {
      top: 88px !important;
    }

    .mainnet {
      grid-template-columns: 1fr;
    }

    .mainnet a {
      border-left: none;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      padding: 32px 0 24px 0;
      display: grid;
      grid-template-columns: 72px 1fr;
    } 

    .mainnet_button svg > #background {
      fill: #F2FE67;
    }

    .intro_bg {
      background: linear-gradient(180deg, #10CD7E 6.79%, #A1E569 28.15%, #F2FE67 49.51%, #FFFFFF 100%);
    }

    .intro {
      margin-top: 120px;
    }

    .roadmap_progress {
      width: 100%;
      margin: 40px 0;
    }

    .mainnet a:hover {
      border-left: none;
    }

}


@media (max-width: 700px) { 

  .link_heading {
    height: 220px;
  }

}

@media (max-width: 500px) { 

  .intro {
    margin-top: 80px;
  }

    .section-links {
      grid-template-columns: 1fr;
      grid-row-gap: 88px;
    }

    .intro video {
      margin: -32px 0 20px -5px;
  }

  .link_heading {
    height: auto;
  }
}

.announcement_dark {
  display: block;
  background-color: #000;
  color: #10CD7E;
  padding: 48px;
  margin-top: 120px;
  border-radius: 12px;
}

.announcement_dark p {
  font-size: 16px;
}
